@model Book
@{
ViewData["Title"] = "Delete";
}

<h2>
    <b>@Model.Name</b> isimli kaydı silmek istiyormusunuz ?

</h2>
<form asp-controller="Book" asp-action="Delete" method="POST">
    <input type="hidden" asp-for="BookId">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>