@model Author
@{
ViewData["Title"] = "Detail Author ";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.Name @Model.Surname</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<div class="container">
    <div class="row">       
        <div class="col-md-12 p-0">
           <table class="table table-sm table-bordered table-striped">          
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>@Model.Surname</td>
                </tr>
                
           </table>
         
        </div>
        
    </div>
</div>