@model Entity.Language
@{
    ViewData["Title"] = "Language Create Page";
}

<form asp-action="Create" asp-controller="Language" method="POST" >
   <div class="form-group">
   <label asp-for="Code">Code</label>
    <input asp-for="Code" class="form-control" placeholder="Please enter language code.">
  </div>
 <div class="form-group">
   <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control" placeholder="Please enter language name.">

  </div>
<button type="submit" class="btn btn-primary">Create</button>
</form>