<div class="list-group">             
    <a asp-controller="Book" asp-action="List" class="list-group-item"><i class="fas fa-book"></i> Book Options </a>
    <a asp-controller="Author" asp-action="List" class="list-group-item"><i class="fas fa-feather"></i> Author Options </a>
    <a asp-controller="Type" asp-action="List" class="list-group-item"><i class="fas fa-list"></i> Type Options </a>       
    <a asp-controller="Publisher" asp-action="List" class="list-group-item"><i class="fas fa-bullhorn"></i> Publisher Options </a>       
    <a asp-controller="Language" asp-action="List" class="list-group-item"><i class="fas fa-language"></i> Language Options </a>       
</div>