<div class="list-group">                    
    <a asp-controller="Statistics" asp-action="MonthChart" class="list-group-item"> Monthly book reading rate </a>            
    <a asp-controller="Statistics" asp-action="PieChart" class="list-group-item"> Reading rate by type </a>            
</div>