<div class="list-group">             
    <a asp-controller="User" asp-action="Read" class="list-group-item"> Unread </a>
    <a asp-controller="User" asp-action="Unread" class="list-group-item"> Readed </a>
    <a asp-controller="User" asp-action="Favorites" class="list-group-item"> Favorites </a>               
</div>